.nav-tabs {
  border-bottom: 1px solid #9d2a39;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav-tabs > li.active > a {
  color: #000; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 1px solid #9d2a39;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  color: #9d2a39; }

.nav-tabs > li > a:hover {
  border-color: #eee #eee #9d2a39; }

@media all and (max-width: 460px) {
  .nav-tabs {
    display: block; }
    .nav-tabs * {
      -webkit-transition-duration: 0s;
              transition-duration: 0s; }
  .nav-tabs > li,
  .nav-tabs > li.active {
    width: 100%;
    border-top: 1px solid transparent; }
  .nav-tabs > li.active > a,
  .nav-tabs > li a,
  .nav-tabs > li a:focus,
  .nav-tabs > li:hover,
  .nav-tabs > li.active:hover a {
    border: none;
    border-top: 1px solid #eee; }
  .nav-tabs > li.active > a,
  .nav-tabs > li:focus,
  .nav-tabs > li a:focus {
    background: #eee;
    border-radius: .2em; } }

ul, ol {
  padding-left: 0; }

.btn {
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  border-radius: .1em; }

.btn.btn-default {
  background: #eee; }
  .btn.btn-default:hover {
    background: #ddd; }

.btn.btn-swingaway {
  color: #fff;
  background: #9d2a39;
  border: 0.0125em solid #751f2a;
  -webkit-transition-duration: .2s;
          transition-duration: .2s; }
  .btn.btn-swingaway:hover {
    background: #c53548;
    border: 0.0125em solid #9d2a39; }

.modal-content {
  border-radius: .2em; }

a {
  color: #000; }
  a:hover {
    color: #000; }

.modal-title {
  font-weight: 600; }

.form-control {
  border-radius: .1em; }

.bootstrap-select .btn-default {
  background: #fff; }

.has-success input, .has-success select, .has-success textarea {
  background-color: #e0e9e0; }

.has-error input, .has-error select, .has-error textarea {
  background-color: #efcccc; }

.panel {
  box-shadow: none;
  border: none; }

.panel-group .panel + .panel {
  margin: 0; }

.pagination > li > a,
.pagination > li > span {
  color: #000; }

.pagination > li > a:hover,
.pagination > li > span:hover {
  color: #000; }

* {
  font-family: Lato; }

html {
  position: relative;
  width: 100%;
  min-height: 100%; }

body {
  padding-bottom: 12em; }

.wrap {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%; }

header .container-fluid {
  padding-top: .5em; }

h2 {
  font-size: 1.8em; }

li {
  list-style-type: none; }

h1, h2, h3, h4, h5, h6 {
  color: #9d2a39; }

textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

.children-inline > * {
  display: inline-block; }

.children-float:after {
  content: '';
  display: table;
  clear: both; }

.children-float > * {
  float: left; }

table.td-vertical tr td {
  vertical-align: middle; }

.pos-relative {
  position: relative; }

@-webkit-keyframes emerge {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes emerge {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes emerge_children {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes emerge_children {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.clear-left-padding {
  padding-left: 0 !important; }

.clear-right-pading {
  padding-right: 0; }

.clear-paddings {
  padding: 0; }

@-webkit-keyframes lurk {
  from {
    display: none;
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }
  to {
    display: none;
    opacity: 0;
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes lurk {
  from {
    display: none;
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }
  to {
    display: none;
    opacity: 0;
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@-webkit-keyframes buzz {
  from {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); }
  to {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg); } }

@keyframes buzz {
  from {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); }
  to {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg); } }

.buzz {
  -webkit-animation: buzz 1s 5;
          animation: buzz 1s 5; }

.explicit-link {
  text-decoration: underline;
  color: #9d2a39; }
  .explicit-link:hover {
    text-decoration: none; }
  .explicit-link:active, .explicit-link:focus {
    color: #9d2a39; }

[class*='error'] {
  color: #9d2a39; }

.about-person__container {
  padding: 1em 0 1em 11em;
  position: relative;
  min-height: 160px; }

.about-person__name {
  width: 100%;
  font-size: 1.2em;
  color: #9d2a39; }

.about-person__photo-wrap {
  max-width: 20em;
  position: absolute;
  left: 0;
  top: 1em; }

.about-person__photo {
  width: 120px;
  border-radius: 50%; }

.about-person__history {
  text-align: justify; }

@media all and (max-width: 580px) {
  .about-person__container {
    padding: 12em 0 1em 0; }
  .about-person__name {
    text-align: center;
    padding-bottom: .5em; }
  .about-person__photo-wrap {
    margin: 0 auto;
    text-align: center;
    right: 0;
    top: 2em; }
  .about-person__photo {
    display: inline-block; } }

.auth-choice {
  display: inline-block; }
  .auth-choice__list {
    margin: 0;
    padding: 0; }
  .auth-choice__item {
    display: inline;
    padding: .5em 1em; }
  .auth-choice__link {
    color: #fff; }

@media all and (max-width: 820px) {
  .auth-choice {
    display: none; } }

.auth-modal__container {
  margin: 2em auto;
  max-width: 22.5em; }

.auth-modal__inner {
  border-radius: .2em; }

.auth-modal__head {
  padding: 1em 1.5em;
  border-bottom: none; }

.auth-modal__body {
  padding: .3em 1.5em 2em; }

.auth-modal__nav-tabs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.auth-modal__controls {
  text-align: right; }

.auth-modal__submit {
  background: #eee;
  border: 1px solid #ddd;
  font-size: 1.05em;
  padding: .4em 1.5em; }

@media all and (max-width: 360px) {
  .auth-modal__container {
    margin-top: 0; } }

.billing__form {
  padding: 2em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.billing__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 2em 0 1em; }

.billing__label {
  color: #000000;
  display: inline-block;
  width: 9em; }

.billing__input {
  width: initial;
  display: inline-block; }

.billing__select {
  width: initial;
  display: inline-block;
  min-width: 14em; }

.billing__form-error {
  color: #000; }

@media all and (max-width: 780px) {
  .billing__item {
    padding: 0 1em; }
  .billing__input {
    width: 100%; } }

@media all and (max-width: 480px) {
  .billing__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0 1em; }
  .billing__input {
    width: initial; } }

@media all and (max-width: 420px) {
  .billing__container {
    padding: 1.5em 1em; }
  .billing__input {
    width: 100%; } }

.breadcrumbs {
  margin-top: -1.7em; }
  .breadcrumbs__list {
    padding: 1em 1em;
    border-radius: .2em; }

@media all and (max-width: 600px) {
  .breadcrumbs {
    display: none; } }

.home-carousel {
  position: relative;
  margin-bottom: 1.5em; }
  .home-carousel__items {
    position: relative; }
  .home-carousel__item * {
    max-width: 100%; }
  .home-carousel__arrow {
    position: absolute;
    z-index: 5;
    background: none;
    border: none;
    top: 45%;
    height: 6em;
    width: 2em;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
    opacity: .2; }
    .home-carousel__arrow:hover {
      -webkit-transition-duration: .2s;
              transition-duration: .2s;
      opacity: .8; }
    .home-carousel__arrow--prev {
      left: 2em;
      background: url("../img/icons/carousel-arrow-left.png") center center no-repeat;
      background-size: contain; }
    .home-carousel__arrow--next {
      right: 2em;
      background: url("../img/icons/carousel-arrow-right.png") center center no-repeat;
      background-size: contain; }
  .home-carousel__pager {
    position: absolute;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0; }
    .home-carousel__pager ul {
      display: block;
      text-align: center;
      padding: 0; }
      .home-carousel__pager ul li {
        display: inline-block; }
        .home-carousel__pager ul li.slick-active > * {
          background: Salmon; }
  .home-carousel__pager-butt {
    opacity: .6;
    background: white;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: .5em .2em;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    -webkit-transition-duration: .2s;
            transition-duration: .2s; }
    .home-carousel__pager-butt:hover {
      opacity: .8;
      -webkit-transition-duration: .2s;
              transition-duration: .2s; }

@media all and (max-width: 680px) {
  .home-carousel__arrow {
    top: 40%; } }

@media all and (max-width: 440px) {
  .home-carousel__arrow {
    height: 3em; } }

.cart-a__table {
  width: 100%; }

.cart-a__cart {
  padding-right: 2em; }

.cart-a__cell {
  padding: .2em 0;
  vertical-align: middle; }
  .cart-a__cell--subtotal-text {
    padding: .2em 1em;
    font-size: 1.05em;
    font-weight: 600; }
  .cart-a__cell--subtotal {
    font-weight: 600; }

.cart-a__item {
  padding: .2em 0; }
  .cart-a__item-remove {
    width: 1.8em;
    height: 1.8em;
    background: url("../img/icons/close-black.png") center center no-repeat;
    background-size: 50%;
    cursor: pointer;
    border-radius: 50%; }
    .cart-a__item-remove:hover {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      background-size: 60%; }
  .cart-a__item-image-wrap {
    width: 10em; }
  .cart-a__item-image {
    max-width: 100%; }
  .cart-a__item-input-wrap {
    max-width: 5.5em; }

@media all and (max-width: 800px) {
  .cart-a__cart {
    padding-right: 0; }
    .cart-a__cart thead {
      display: none; }
  .cart-a__item {
    display: block;
    padding: 0 0 2em;
    border-top: 1px solid #ddd; }
    .cart-a__item:last-child {
      border-bottom: 1px solid #ddd; }
  .cart-a__cell {
    display: block; }
    .cart-a__cell--remove {
      position: absolute;
      right: 0;
      border-top: none !important; }
    .cart-a__cell--title {
      font-weight: 600;
      padding-right: 4em !important;
      border-top: none !important; }
    .cart-a__cell--image {
      display: none; }
    .cart-a__cell--price, .cart-a__cell--x, .cart-a__cell--input, .cart-a__cell--sum {
      display: inline-block;
      height: 3.5em;
      border-top: none !important; }
    .cart-a__cell--price > *, .cart-a__cell--x > *, .cart-a__cell--sum > * {
      padding-top: .65em; }
    .cart-a__cell--subtotal-text, .cart-a__cell--subtotal {
      border-top: 0 !important;
      display: inline-block;
      text-align: right; }
    .cart-a__cell--subtotal-text {
      width: 70%; }
    .cart-a__cell--subtotal {
      width: 28%; } }

.cart-summary {
  border: 1px solid #ccc;
  border-radius: .2em;
  margin-bottom: 2em; }
  .cart-summary__container {
    padding: 1.5em 1em; }
  .cart-summary__cell {
    padding: .2em 0; }
    .cart-summary__cell--head {
      font-size: 1.3em;
      padding-bottom: .8em; }
    .cart-summary__cell--foot {
      font-size: 1.3em;
      padding-top: .8em; }
  .cart-summary__amount {
    font-size: 1.1em;
    text-align: right; }
  .cart-summary__title {
    font-size: 1.15em;
    font-weight: 600;
    padding-right: 1.5rem; }
  .cart-summary__controls {
    padding: 1.5em 0 1em; }
  .cart-summary__submit {
    width: 100%; }

.catalog-description h1, .catalog-description h2, .catalog-description h3, .catalog-description h4, .catalog-description h5, .catalog-description h6 {
  color: #000; }

@media all and (max-width: 460px) {
  .catalog-description {
    display: none; } }

.product-grid__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.product-grid__item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-bottom: 1em;
  padding-bottom: 1em;
  min-height: 20em; }

@media all and (max-width: 1120px) {
  .product-grid__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%; } }

@media all and (max-width: 920px) {
  .product-grid__item {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%; } }

@media all and (max-width: 700px) {
  .product-grid__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }

@media all and (max-width: 470px) {
  .product-grid__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }

.compare {
  opacity: 0; }
  .compare * {
    -webkit-transition-duration: .35s;
            transition-duration: .35s; }
  .compare__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .compare__attrs {
    width: 10%; }
  .compare__prods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%; }
  .compare__navs {
    margin-top: 2em;
    width: 100%;
    text-align: center; }

.compare-attr__cell {
  border-bottom: 1px solid #ddd;
  padding: .5em 1.5em .5em .7em;
  font-weight: 600; }

.compare-prod {
  position: relative; }
  .compare-prod__button {
    padding-left: 3em;
    background-image: url("../img/icons/basket-black.png");
    background-position: 1em center;
    background-size: 1.2em;
    background-repeat: no-repeat; }
    .compare-prod__button:hover {
      background-image: url("../img/icons/basket-swa-red.png"); }
  .compare-prod__cell--remove {
    text-align: right; }
  .compare-prod__remove {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    background: url("../img/icons/close-black.png") center center no-repeat;
    background-size: 50%;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition-duration: .3s;
            transition-duration: .3s; }
    .compare-prod__remove:hover {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      background-size: 60%;
      background-image: url("../img/icons/close-swa-red.png"); }
  .compare-prod__cell {
    border-bottom: 1px solid #ddd;
    padding: .5em .7em; }
  .compare-prod__image-wrap {
    height: 100%;
    max-height: 12em;
    min-height: 10em; }
  .compare-prod__image {
    max-width: 100%;
    max-height: 100%; }

.compare-nav {
  margin: .2em .3em; }

@media all and (max-width: 800px) {
  .compare__attrs {
    width: 20%; }
  .compare__prods {
    width: 80%; } }

@media all and (max-width: 360px) {
  .compare__attrs {
    width: 25%; }
  .compare__prods {
    width: 75%; } }

.contact-info {
  padding-left: 2.5em; }
  .contact-info__container {
    margin-top: 1em;
    padding: 2em 1.5em;
    border: 1px solid #ddd; }
  .contact-info__group {
    padding-bottom: 1.5em; }
  .contact-info__label {
    font-size: 1.15em;
    font-weight: 600; }
  .contact-info__info {
    font-size: 1em; }

@media all and (max-width: 994px) {
  .contact-info {
    padding-left: 0; }
    .contact-info__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .contact-info__group {
      padding: 1em 2em; } }

@media all and (max-width: 760px) {
  .contact-info__container {
    display: block; }
  .contact-info__group {
    padding: 0 0 1.5em;
    width: 48%;
    display: inline-block; } }

@media all and (max-width: 440px) {
  .contact-info__group {
    display: block; } }

.distributor {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 1em 0 1.5em; }
  .distributor__container {
    margin-bottom: .7em; }
  .distributor__location {
    padding-bottom: .4em;
    font-size: 1.2em;
    color: #9d2a39; }
    .distributor__location::first-letter {
      font-weight: 600;
      font-size: 1.3em; }
  .distributor__shop {
    font-size: 1.1em;
    color: #000; }

@media all and (max-width: 1020px) {
  .distributor {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%; } }

@media all and (max-width: 760px) {
  .distributor {
    display: block; }
    .distributor__item {
      display: inline; }
      .distributor__item:not(:last-child)::after {
        padding: 0 .5em;
        content: '| ';
        font-weight: 600;
        color: #9d2a39; } }

.distributors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media all and (max-width: 760px) {
  .distributors {
    display: block; } }

.feedback-form__container {
  margin-top: 1em;
  padding: 2em 1em;
  border: 1px solid #ddd; }

.feedback-form__label {
  padding-right: 1.5em; }

.feedback-form__textarea {
  min-height: 15em;
  max-height: 22em; }

@media all and (max-width: 760px) {
  .feedback-form__container {
    background: #eee;
    padding: 1.5em .5em; } }

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #000; }

.footer-nav__head {
  display: none; }

.footer-nav__body {
  display: block; }

.footer-nav__list {
  display: block;
  color: #000;
  text-align: center;
  padding: .5em 0 0; }

.footer-nav__item {
  list-style: none;
  display: inline-block;
  padding: .5em 1em; }

.footer-nav__link {
  text-decoration: none;
  color: #fff; }
  .footer-nav__link:hover {
    color: #fff;
    text-decoration: underline; }

.footer-socials {
  background-color: #9d2a39; }
  .footer-socials__list {
    padding: 1em 0;
    text-align: center; }
  .footer-socials__item {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 2.5em;
    margin: 0 .3em;
    background: url("../img/icons/mini-social-icons.png") no-repeat;
    background-size: 500px;
    -webkit-transition-duration: .3s;
            transition-duration: .3s; }
    .footer-socials__item--facebook {
      background-position: -2px -91px; }
      .footer-socials__item--facebook:hover {
        background-position: -2px -48px; }
    .footer-socials__item--twitter {
      background-position: -365px -91px; }
      .footer-socials__item--twitter:hover {
        background-position: -365px -48px; }
  .footer-socials__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

@media all and (max-width: 420px) {
  .footer-nav__head {
    display: block;
    text-align: center;
    padding: 1em 0;
    color: #fff;
    font-size: 1.05em;
    cursor: pointer; }
  .footer-nav__body {
    display: none; } }

.header {
  background-color: #000; }
  .header a {
    color: #fff;
    cursor: pointer; }

.home-banners__list {
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.home-banners__item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  padding: .07em;
  overflow: hidden;
  position: relative; }

.home-banners__container {
  background: #9d2a39; }
  .home-banners__container * {
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in; }
  .home-banners__container:hover .home-banners__image {
    -webkit-transform: translate3d(0, -4em, 0);
            transform: translate3d(0, -4em, 0);
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
  .home-banners__container:hover .home-banners__heading {
    bottom: 1.5em;
    -webkit-transition-duration: .4s;
            transition-duration: .4s;
    opacity: 1; }

.home-banners__image {
  max-width: 100%;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  .home-banners__image:hover {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    width: 120%;
    height: 120%; }

.home-banners__heading {
  position: absolute;
  bottom: -2em;
  opacity: 0;
  font-size: 1.05em;
  color: #eee;
  text-transform: uppercase;
  padding: 1em 1em 0; }

@media all and (max-width: 640px) {
  .home-banners__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }

.home-icon-grid__heading {
  text-align: center;
  text-transform: uppercase; }

.home-icon-grid__list {
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.home-icon-grid__item {
  display: inline-block;
  list-style: none; }

.home-icon-grid__container {
  padding: .2em; }

@media all and (max-width: 420px) {
  .home-icon-grid {
    display: none; } }

.logo {
  display: inline-block; }

@media all and (max-width: 460px) {
  .logo__image {
    padding: .4em 0;
    width: 80%; } }

@media all and (max-width: 420px) {
  .logo {
    display: none; } }

.main-menu__list {
  display: block;
  padding: .5em 0; }

.main-menu__item {
  position: relative;
  display: inline-block;
  padding: .5em 1.5em;
  border: 1px solid transparent;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  margin: 0 .2em; }
  .main-menu__item:hover {
    background: #444;
    border: 1px solid #888; }
    .main-menu__item:hover > .main-menu__sublist {
      display: block;
      -webkit-animation: emerge .8s;
              animation: emerge .8s; }

.main-menu__active {
  border: 1px solid #ddd; }

.main-menu__link {
  color: #fff; }
  .main-menu__link:hover {
    color: #fff;
    text-decoration: none; }

.main-menu__sublist {
  position: absolute;
  z-index: 11;
  display: none;
  padding: .5em 0;
  margin: 1px -1px -1px; }

.main-menu__subitem {
  list-style: none;
  padding: .5em 1.5em;
  margin-left: -1.5em;
  background: #000;
  border: 1px solid #888;
  border-top: 1px solid transparent; }
  .main-menu__subitem:hover {
    background: #444; }

.main-menu__sublink {
  color: #fff; }
  .main-menu__sublink:hover {
    color: #fff;
    text-decoration: none; }

@media all and (max-width: 1000px) {
  .main-menu {
    display: none; } }

.manual {
  display: inline-block;
  max-width: 18em;
  padding: 1.5em 0;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }
  .manual__container {
    padding-right: 2em; }
  .manual__title {
    text-transform: uppercase;
    font-weight: 600; }
  .manual__image-wrap {
    padding: .6em 0; }
  .manual__image {
    max-width: 100%;
    width: 100%; }
  .manual__controls {
    text-align: right;
    padding: 1em 0; }

@media all and (max-width: 1040px) {
  .manual__container {
    padding: 0 1em; } }

@media all and (max-width: 880px) {
  .manual {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%; } }

@media all and (max-width: 640px) {
  .manual {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }

@media all and (max-width: 460px) {
  .manual {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }

.manuals__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media all and (max-width: 460px) {
  .manuals__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.review-modal__body {
  padding: 1em 2em; }

.review-modal__inputs {
  padding: .2em 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.review-modal__input {
  width: 48%;
  padding: .5em .6em;
  border: 1px solid #888;
  border-radius: .2em; }

.review-modal__message {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 10em;
  max-height: 16em;
  padding: .5em .6em;
  border: 1px solid #888;
  border-radius: .2em; }

.review-modal__opts {
  padding: 1em 0; }

.review-modal__opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.review-modal__opt-input {
  display: inline-block; }

.review-modal__opt-label {
  display: inline-block;
  padding-left: .5em; }

@media all and (max-width: 460px) {
  .review-modal__inputs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .review-modal__input {
    margin: .4em 0;
    width: 100%; } }

.alert-modal__message {
  padding: 1em;
  font-size: 1.1em; }
  .alert-modal__message span {
    color: red;
    font-weight: 600; }

.my-account-nav__container {
  padding-top: 1em; }

.offcanvas-logo {
  font-size: 1.8em;
  text-transform: uppercase;
  padding: .6em .8em;
  background: #333;
  color: #fff; }

.offcanvas-search__container {
  position: relative;
  padding: 1em 1.8em; }

.offcanvas-search__input {
  padding: .3em 3.8em .3em .5em;
  width: 100%; }

.offcanvas-search__submit {
  position: absolute;
  right: 3em;
  top: 1.7em; }

.offcanvas-menu__heading {
  padding-left: 1.45em; }

.offcanvas-menu__list {
  display: block; }

.offcanvas-menu__item--active > a {
  border-left: .4em solid #444;
  background: #ddd; }
  .offcanvas-menu__item--active > a:before {
    position: absolute;
    display: block;
    content: '';
    right: 1em;
    width: 1em;
    height: 1em;
    background: url("../img/icons/simple-arrow-right-black.png") right center no-repeat;
    background-size: .5em; }

.offcanvas-menu__link {
  cursor: pointer;
  display: block;
  font-size: 1.05em;
  padding: .8em 1.8em;
  border-bottom: .0125em solid #ccc;
  border-top: .0125em solid #eee;
  background-color: #eee;
  color: #222; }
  .offcanvas-menu__link:before {
    position: absolute;
    display: block;
    content: '';
    width: 1em;
    height: 1em;
    right: 1em;
    background: url("../img/icons/simple-arrow-right-dark-grey.png") right center no-repeat;
    background-size: .5em; }
  .offcanvas-menu__link:hover {
    background-color: #ddd;
    text-decoration: none; }

.offcanvas-submenu__item--active > a {
  border-left: .4em solid #444;
  background: #ddd url("../img/icons/simple-arrow-right-black.png") right center no-repeat;
  background-size: .5em; }

.offcanvas-submenu__link {
  cursor: pointer;
  display: block;
  font-size: 1.05em;
  padding: .8em 1.8em .8em 2.6em;
  border-bottom: .0125em solid #ddd;
  background: url("../img/icons/simple-arrow-right-dark-grey.png") 18.9em center no-repeat;
  background-size: .5em; }
  .offcanvas-submenu__link:hover {
    background-color: #ddd;
    text-decoration: none; }

.offcanvas-auth-choice__list {
  text-align: center; }

.offcanvas-auth-choice__item {
  display: inline-block;
  padding: 1em 2em; }

@media all and (max-width: 1000px) {
  .navbar-toggle {
    display: block;
    background-color: #ddd; } }

.order-history-heads__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5em 1em 1.5em; }

.order-history-heads__item {
  font-weight: 600;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%; }

@media all and (max-width: 56.25em) {
  .order-history-heads__item--no {
    display: none; } }

@media all and (max-width: 45em) {
  .order-history-heads {
    display: none; } }

.order-in-history-basics__container {
  border-top: 1px solid #ddd;
  padding: 1.5em 1em; }
  .order-in-history-basics__container:hover {
    background-color: #eee; }

.order-in-history-basics__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.order-in-history-basics__item {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%; }

.order-in-history-basics__label {
  display: none; }
  .order-in-history-basics__label::after {
    content: '';
    padding-right: .5em; }

@media all and (max-width: 56.25em) {
  .order-in-history-basics__item--no {
    display: none; }
  .order-in-history-basics__item--track-no {
    text-align: right; } }

@media all and (max-width: 45em) {
  .order-in-history-basics__item {
    padding: 1em 1em 1em 0;
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%; }
    .order-in-history-basics__item--track-no {
      text-align: left; }
  .order-in-history-basics__label {
    display: inline; } }

@media all and (max-width: 35em) {
  .order-in-history-basics__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }

@media all and (max-width: 26.25em) {
  .order-in-history-basics__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
    .order-in-history-basics__item--more {
      text-align: right; }
  .order-in-history-basics__label {
    display: inline-block;
    min-width: 9em; } }

.order-in-history-details__table {
  width: 100%; }

.order-in-history-details__head-cell {
  padding: 1em .2em; }

.order-in-history-details__cell--wrap-image {
  width: 8em; }

.order-in-history-details__image {
  max-width: 100%; }

.order-in-history__cell--wrap-image {
  width: 12em; }

.order-in-history__image {
  max-width: 100%; }

.order-preview-return__container {
  text-align: center; }

.order-review-controls__container {
  padding: 2.5em 0 1.5em; }

.order-review-controls__return {
  padding-right: 2em; }

@media all and (max-width: 40em) {
  .order-review-controls__cotainer {
    padding: 1em 0; } }

@media all and (max-width: 36.25em) {
  .order-review-controls__container {
    padding: 1.5em 0 2.5em; }
  .order-review-controls__return {
    display: block;
    padding: .2em .2em 1.8em 0;
    text-align: right; } }

.order-review-prod__image {
  max-width: 100%; }

.order-review-prod__sum--prepend {
  display: none; }

@media all and (max-width: 27.5em) {
  .order-review-prod__sum--prepend {
    display: inline; }
  .order-review-prod__sum--currency, .order-review-prod__sum--amount {
    font-weight: 600; } }

.order-review-prods {
  padding: 0; }
  .order-review-prods__table {
    width: 100%; }
  .order-review-prods__row {
    border-top: 1px solid #ddd; }
    .order-review-prods__row:hover {
      background: #eee; }
  .order-review-prods__cell {
    vertical-align: middle;
    padding: .5em; }
    .order-review-prods__cell--image {
      width: 12em; }

@media all and (max-width: 40em) {
  .order-review-prods__cell--image, .order-review-prods__cell--head-image {
    display: none; } }

@media all and (max-width: 27.5em) {
  .order-review-prods__cell {
    display: inline-block;
    padding: 1em .5em; }
    .order-review-prods__cell--qu {
      display: none; }
    .order-review-prods__cell--image {
      display: none; }
    .order-review-prods__cell--title {
      width: 88%; }
    .order-review-prods__cell--head {
      display: none; }
    .order-review-prods__cell--sum {
      display: block;
      float: right; } }

.order-review-profile__container {
  background: #eee;
  padding: 1em 1.5em; }

.order-review-profile__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: .4em; }

.order-review-profile__label {
  font-weight: 600;
  font-size: 1.05em;
  width: 9em; }

@media all and (max-width: 991px) {
  .order-review-profile {
    margin-top: 2em; } }

@media all and (max-width: 640px) {
  .order-review-profile {
    padding: 0; } }

.order-review-totals {
  margin-top: 2em; }
  .order-review-totals__container {
    background: #eee;
    padding: 1em 1.5em; }
  .order-review-totals__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: .4em; }
  .order-review-totals__label {
    font-weight: 600;
    font-size: 1.05em;
    width: 9em; }

@media all and (max-width: 640px) {
  .order-review-totals {
    padding: 0; } }

.pag-pager {
  display: none; }
  .pag-pager__item {
    border: 1px solid #ccc;
    display: inline-block; }
  .pag-pager__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: .3em 2.5em;
    font-size: 1.2em; }

@media all and (max-width: 28.75em) {
  .pag-pager {
    display: block;
    text-align: center;
    padding-bottom: 2em; } }

.pag-pagination__link {
  color: #000; }

@media all and (max-width: 28.75em) {
  .pag-pagination {
    display: none; } }

.pag__container {
  text-align: left; }

.personal-info {
  display: inline-block;
  vertical-align: top;
  width: 49%; }
  .personal-info__container {
    padding-right: 1.5em; }
  .personal-info__label {
    padding-right: 1.5em;
    display: inline-block;
    width: 10em; }
  .personal-info__select {
    display: inline-block;
    width: initial;
    min-width: 14em; }
  .personal-info__input {
    display: inline-block;
    width: auto; }

@media all and (max-width: 37.5em) {
  .personal-info {
    display: block;
    width: 100%; }
    .personal-info__container {
      padding: 0; }
    .personal-info__label {
      display: inline-block; } }

@media all and (max-width: 30em) {
  .personal-info__input {
    display: block;
    width: 100%; }
  .personal-info__select {
    display: block;
    width: 100%; } }

.product-basics {
  padding-left: 1.5em; }

@media all and (max-width: 420px) {
  .product-basics {
    padding-left: 0; } }

.product-controls__butt {
  padding: .6em 1.8em;
  font-weight: 600;
  margin: .2em; }

@media all and (max-width: 420px) {
  .product-controls {
    padding-left: 0; }
    .product-controls__butt {
      display: block;
      width: 16em;
      margin: .8em auto; } }

@media all and (max-width: 360px) {
  .product-controls__butt {
    width: 100%; } }

.product-details {
  padding: 3em 0; }
  .product-details__container {
    padding-top: 1em; }
  .product-details__controls {
    padding: .5em .5em 1.5em 1em; }

.product-gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  padding-top: 1.5em;
  padding-bottom: 2em; }

.product-gallery__shortcuts {
  text-align: center;
  width: 12em; }
  .product-gallery__shortcuts:hover .product-gallery__nav {
    -webkit-transition-duration: .35s;
            transition-duration: .35s;
    opacity: 1; }

.product-gallery__shortcuts-nav {
  height: 1.4em;
  border: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  opacity: .4; }
  .product-gallery__shortcuts-nav--prev {
    top: -2.5em;
    background: url("../img/icons/carousel-arrow-up.png") center center no-repeat;
    background-size: contain; }
  .product-gallery__shortcuts-nav--next {
    bottom: -2.5em;
    background: url("../img/icons/carousel-arrow-down.png") center center no-repeat;
    background-size: contain; }

.product-gallery__preview {
  max-width: 100%;
  max-height: 390px; }

.product-gallery__shortcut {
  max-width: 100%; }

.product-gallery__previews {
  max-width: 30em;
  max-height: 30em;
  margin: 0 1em;
  border: 1px solid #ccc;
  padding: .2em; }

.product-gallery__previews-nav {
  position: absolute;
  border: none;
  height: 2.5em;
  width: 2.5em;
  top: 45%;
  opacity: .5;
  z-index: 1; }
  .product-gallery__previews-nav--prev {
    left: 1em;
    background: url("../img/icons/carousel-arrow-left.png") center center no-repeat;
    background-size: contain; }
  .product-gallery__previews-nav--next {
    right: 1em;
    background: url("../img/icons/carousel-arrow-right.png") center center no-repeat;
    background-size: contain; }

@media all and (max-width: 1100px) {
  .product-gallery__shortcuts {
    display: none; } }

@media all and (max-width: 920px) {
  .product-gallery__container {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .product-gallery__shortcuts {
    display: block; } }

@media all and (max-width: 620px) {
  .product-gallery__shortcuts {
    display: none; }
  .product-gallery__previews {
    margin: 0;
    display: block;
    max-width: 100%; } }

.control-pad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  overflow: hidden;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  z-index: 1; }
  .control-pad > * {
    -webkit-transition-duration: .35s;
            transition-duration: .35s; }
  .control-pad:hover {
    opacity: 1; }
    .control-pad:hover .control-pad__controls {
      margin-bottom: 0; }
    .control-pad:hover .control-pad__item--cart, .control-pad:hover .control-pad__item--compare, .control-pad:hover .control-pad__item--wishlist {
      -webkit-transform: translate(0, 0) rotate(60deg);
              transform: translate(0, 0) rotate(60deg); }
    .control-pad:hover .control-pad__item--cart::before, .control-pad:hover .control-pad__item--compare::before, .control-pad:hover .control-pad__item--wishlist::before {
      -webkit-transform: translate(0, 0) rotate(-60deg);
              transform: translate(0, 0) rotate(-60deg); }
    .control-pad:hover .control-pad__item--compare::before, .control-pad:hover .control-pad__item--wishlist::before {
      -webkit-transform: translate(0, 0) rotate(-60deg);
              transform: translate(0, 0) rotate(-60deg); }
  .control-pad__controls {
    margin-bottom: -3em;
    padding-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .control-pad__item {
    margin: .2em .2em;
    width: 3em;
    height: 3em;
    border: 1px solid #eee;
    background: khaki;
    opacity: .7;
    cursor: pointer;
    -webkit-transition-duration: .5s;
            transition-duration: .5s; }
    .control-pad__item:hover {
      opacity: 1;
      background: #e7d748; }
    .control-pad__item--cart {
      -webkit-transform: translate(-2em, 0);
              transform: translate(-2em, 0); }
    .control-pad__item--wishlist {
      -webkit-transform: translate(0, 2em);
              transform: translate(0, 2em); }
    .control-pad__item--compare {
      -webkit-transform: translate(2em, 0);
              transform: translate(2em, 0); }
  .control-pad__icon {
    background: url() center center no-repeat;
    height: 100%;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    background-size: 65%; }
    .control-pad__icon--cart {
      background-image: url("../img/icons/basket-black.png"); }
      .control-pad__icon--cart:hover {
        background-image: url("../img/icons/basket-swa-red.png"); }
    .control-pad__icon--in-cart {
      background-image: url("../img/icons/basket-swa-red.png"); }
      .control-pad__icon--in-cart:hover {
        background-image: url("../img/icons/basket-swa-red.png"); }
    .control-pad__icon--compare {
      background-image: url("../img/icons/scales-black.png"); }
      .control-pad__icon--compare:hover {
        background-image: url("../img/icons/scales-swa-red.png"); }
    .control-pad__icon--in-compare {
      background-image: url("../img/icons/scales-swa-red.png"); }
      .control-pad__icon--in-compare:hover {
        background-image: url("../img/icons/scales-swa-red.png"); }
    .control-pad__icon--wishlist {
      background-image: url("../img/icons/wishlist-black.png"); }
      .control-pad__icon--wishlist:hover {
        background-image: url("../img/icons/wishlist-swa-red.png"); }
    .control-pad__icon--in-wishlist {
      background-image: url("../img/icons/wishlist-swa-red.png"); }
      .control-pad__icon--in-wishlist:hover {
        background-image: url("../img/icons/wishlist-swa-red-broken.png"); }

.product-in-grid {
  max-width: 15em;
  margin: 0 auto; }
  .product-in-grid__container {
    width: 100%; }
  .product-in-grid__image-wrap {
    position: relative; }
  .product-in-grid__controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); }
  .product-in-grid__image {
    max-width: 100%; }
  .product-in-grid__title {
    display: block;
    padding: .5em 0;
    font-size: 1.1em; }
  .product-in-grid__price {
    color: #9d2a39;
    font-weight: 600; }

.product-options {
  margin: 0 auto;
  max-width: 30em; }
  .product-options__container {
    margin: .4em 0 1.6em;
    display: inline-block; }
  .product-options__heading {
    text-align: left;
    color: #000; }
  .product-options__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #EEEEEE;
    padding: .8em 1em;
    margin: .5em 0; }
  .product-options__label {
    display: block;
    min-width: 10em;
    text-align: left; }
  .product-options__select {
    width: initial;
    min-width: 10em; }

@media all and (max-width: 360px) {
  .product-options__container {
    display: block; }
  .product-options__group {
    display: block; }
  .product-options__label {
    padding-bottom: .3em;
    text-align: left; }
  .product-options__select {
    width: 100%; } }

.product-price {
  font-size: 1.8em; }

.product-reviews__container {
  padding: 1em 0 .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.product-reviews__stars {
  padding-right: 1.5em; }

@media all and (max-width: 920px) {
  .product-reviews__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.product-title {
  font-size: 2.2em; }

@media all and (max-width: 1100px) {
  .product-title {
    font-size: 2em; } }

@media all and (max-width: 420px) {
  .product-title {
    font-size: 1.7em; } }

.product-qna {
  padding-bottom: 1em; }
  .product-qna:nth-child(4) {
    padding-left: 1em; }
  .product-qna__question {
    font-weight: 600; }
  .product-qna__message {
    text-align: justify; }

.product-review {
  margin-bottom: 1.5em; }
  .product-review__author {
    font-weight: 600;
    vertical-align: top;
    padding-right: 1em; }
  .product-review__footline {
    font-weight: 600;
    padding: .5em 0; }

.product {
  padding-bottom: 3em; }
  .product__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

@media all and (max-width: 920px) {
  .product__container {
    display: block;
    text-align: center; } }

.purchase-details {
  display: inline-block;
  vertical-align: top;
  width: 50%; }
  .purchase-details__container {
    padding-left: 1.5em; }
  .purchase-details__textarea {
    min-height: 15em;
    max-height: 22em; }
  .purchase-details__label {
    padding-right: 1.5em;
    display: inline-block;
    width: 14em; }
  .purchase-details__select {
    display: inline-block;
    width: 12.5em; }
  .purchase-details__input {
    display: inline-block;
    width: auto; }

@media all and (max-width: 37.5em) {
  .purchase-details {
    display: block;
    width: 100%; }
    .purchase-details__container {
      padding: 1em 0 0; }
    .purchase-details__label {
      display: inline-block; } }

@media all and (max-width: 30em) {
  .purchase-details__input {
    display: block;
    width: 100%; } }

.results-head__container {
  padding: 1.5em;
  background: #eee;
  margin: 1em 0; }

.results-head__summary {
  font-size: 1.05em;
  padding-bottom: 1em; }
  .results-head__summary-data {
    font-weight: 600; }
    .results-head__summary-data:after, .results-head__summary-data:before {
      content: '';
      padding: .2em; }

.results-head__re-search-text {
  font-size: 1.05em; }

.search {
  padding: .2em 1em;
  display: inline-block; }
  .search__container {
    position: relative; }
  .search__input {
    width: 100%;
    border: 1px solid #eee;
    padding: .4em .5em; }
  .search__submit {
    position: absolute;
    top: .45em;
    right: .8em;
    cursor: pointer; }

.results-head .search {
  width: 30em; }
  .results-head .search__container {
    width: 100%; }
  .results-head .search__input {
    outline: 1px solid #ddd;
    width: 100%; }

@media all and (max-width: 660px) {
  .search {
    display: none; } }

.services {
  padding-top: .2em;
  display: inline-block; }
  .services__compare, .services__wishlist, .services__cart {
    display: inline-block;
    width: 3em;
    height: 3em;
    position: relative;
    cursor: pointer;
    -webkit-transition-duration: .3s;
            transition-duration: .3s; }
    .services__compare:hover, .services__wishlist:hover, .services__cart:hover {
      background-color: rgba(255, 255, 255, 0.2); }
  .services__compare {
    background: url("../img/icons/scales-grey.png") center center no-repeat;
    background-size: 2.2em; }
    .services__compare:hover {
      background-image: url("../img/icons/scales-white.png"); }
  .services__wishlist {
    background: url("../img/icons/wishlist-grey.png") center center no-repeat;
    background-size: 2.2em; }
    .services__wishlist:hover {
      background-image: url("../img/icons/wishlist-white.png"); }
  .services__cart {
    background: url("../img/icons/basket-grey.png") center center no-repeat;
    background-size: 2.2em; }
    .services__cart:hover {
      background-image: url("../img/icons/basket-white.png"); }
  .services__counter {
    width: 1.5em;
    text-align: center;
    height: 1.5em;
    position: absolute;
    top: .2em;
    left: .2em;
    font-size: .875em;
    background: #9d2a39;
    opacity: .9;
    border-radius: 50%; }

.shop-components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.sorter {
  padding: 1em 0; }
  .sorter__title {
    padding: .1em 1em;
    font-weight: 600; }
  .sorter__control {
    border: 1px solid #aaa;
    padding: .4em 1.2em; }
    .sorter__control:hover {
      text-decoration: none;
      cursor: pointer;
      background: #eee; }
    .sorter__control--active > .sorter__indicator {
      margin: 0 0 -.125em .5em;
      display: inline-block;
      width: 1em;
      height: 1em; }
    .sorter__control--asc > .sorter__indicator {
      background: url("../img/icons/arrow-down-black.png") center center no-repeat;
      background-size: contain; }
    .sorter__control--desc > .sorter__indicator {
      background: url("../img/icons/arrow-up-black.png") center center no-repeat;
      background-size: contain; }

.stars__star {
  background: url("../img/icons/star-grey.png") center center no-repeat;
  background-size: contain;
  width: 1.5em;
  height: 1.5em; }
  .stars__star--red {
    background-image: url("../img/icons/star-swa-red.png"); }

.choose-from-stars .stars__star {
  background: url("../img/icons/star-grey.png") center center no-repeat;
  background-size: contain;
  width: 1.8em;
  height: 1.8em;
  -webkit-transition-duration: .3s;
          transition-duration: .3s; }
  .choose-from-stars .stars__star--red {
    background-image: url("../img/icons/star-swa-red.png"); }

.swingaway-content-markup p {
  text-align: justify; }

.swingaway-content-markup ol {
  padding-left: 2.5em; }
  .swingaway-content-markup ol li {
    list-style-type: decimal; }

.swingaway-content-markup ul {
  padding-left: 2.5em; }
  .swingaway-content-markup ul li {
    list-style-type: square; }

.swingaway-content-markup img {
  max-width: 100%; }

.swingaway-content-markup iframe {
  max-width: 100%; }

.upsell-grid {
  padding-bottom: 4em; }
  .upsell-grid:hover .upsell-grid__nav {
    opacity: .6; }
  .upsell-grid__content {
    padding-top: 1.5em; }
  .upsell-grid__nav {
    border: none;
    height: 3em;
    width: 2em;
    position: absolute;
    top: 40%;
    z-index: 2;
    opacity: 0; }
    .upsell-grid__nav:hover {
      opacity: .9; }
    .upsell-grid__nav-prev {
      background: url("../img/icons/carousel-arrow-left.png") center center no-repeat;
      background-size: contain;
      left: -2em; }
    .upsell-grid__nav-next {
      background: url("../img/icons/carousel-arrow-right.png") center center no-repeat;
      background-size: contain;
      right: -2em; }

@media all and (max-width: 1200px) {
  .upsell-grid:hover .upsell-grid__nav {
    opacity: .8; }
  .upsell-grid__nav {
    opacity: .6;
    padding: 2.5em 1.5em;
    border: 1px solid #ccc;
    background-color: #eee;
    background-size: 50%; }
    .upsell-grid__nav:hover {
      opacity: .9; }
    .upsell-grid__nav-prev {
      left: 0; }
    .upsell-grid__nav-next {
      right: 0; }
  .upsell-grid__dots {
    padding: 0;
    text-align: center; }
    .upsell-grid__dots > * {
      display: inline-block; }
      .upsell-grid__dots > *.slick-active > * {
        background-color: #9d2a39; }
  .upsell-grid__dot {
    margin: .2em .3em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1px solid #ddd;
    background: #eee; } }

.swing-remove-icon {
  background: url("../img/icons/close-black.png") center center no-repeat;
  background-size: 60%;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  -webkit-transition-duration: .35s;
          transition-duration: .35s; }
  .swing-remove-icon:hover {
    background-image: url("../img/icons/close-red.png");
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background-size: 70%; }

.color-swa-red {
  color: #9d2a39; }

.grid-group-4__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.grid-group-4__item {
  list-style-type: none;
  padding: .3em;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }

.grid-group-4__image {
  max-width: 100%; }

@media all and (max-width: 920px) {
  .grid-group-4__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%; } }

@media all and (max-width: 760px) {
  .grid-group-4__item {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%; } }

.videos__video-wrap {
  padding-top: 1.5em; }

.videos__video {
  width: 100%;
  height: 55em; }

@media all and (max-width: 1020px) {
  .videos__video {
    height: 45em; } }

@media all and (max-width: 880px) {
  .videos__video {
    height: 40em; } }

@media all and (max-width: 770px) {
  .videos__video {
    height: 35em; } }

@media all and (max-width: 640px) {
  .videos__video {
    height: 30em; } }

@media all and (max-width: 540px) {
  .videos__video {
    height: 25em; } }

@media all and (max-width: 440px) {
  .videos__video {
    height: 20em; } }

@media all and (max-width: 380px) {
  .videos__video {
    height: 16em; } }

.warranty__form-wrap {
  background: #eee;
  padding: .5em 2em;
  margin: 1em 0 1.5em; }

.warranty__controls {
  padding: 1em 0 2em; }

.warranty__select {
  width: initial; }

.wide-banner {
  padding-bottom: 1.5em; }
  .wide-banner img {
    width: 100%; }

@media all and (max-width: 600px) {
  .wide-banner {
    display: none; } }

.wishlist-item {
  border-top: 1px solid #ddd; }
  .wishlist-item:hover {
    background: #efefef; }
  .wishlist-item__cell {
    padding: .6em .8em; }
    .wishlist-item__cell--image {
      width: 12em; }
    .wishlist-item__cell--actions {
      text-align: right; }
  .wishlist-item__image {
    max-width: 100%; }
  .wishlist-item__butt {
    margin-bottom: .4em; }

@media all and (max-width: 51.25em) {
  .wishlist-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: .4em 0; }
    .wishlist-item__cell--image {
      display: none; }
    .wishlist-item__cell--title {
      padding-top: .65em;
      -ms-flex-preferred-size: 80%;
          flex-basis: 80%;
      font-weight: 600; }
    .wishlist-item__cell--price {
      padding-left: 3em;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
    .wishlist-item__cell--actions {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; } }

@media all and (max-width: 21.25em) {
  .wishlist-item__cell--actions {
    padding-left: 3em;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .wishlist-item__butt {
    width: 100%; } }

.wishlist__content {
  padding: 1em 0; }

.wishlist__table {
  width: 100%; }

.wishlist__head-cell {
  padding: .7em .85em; }

@media all and (max-width: 51.25em) {
  .wishlist__head {
    display: none; } }
