.control-pad
  > *
    transition-duration: .35s
  display: flex
  align-items: flex-end
  justify-content: center
  opacity: 0
  overflow: hidden
  transition-duration: .5s

  &:hover
    opacity: 1

    .control-pad
      &__controls
        margin-bottom: 0

      &__item
        &--cart,
        &--compare,
        &--wishlist
          transform: translate(0, 0) rotate(60deg)

      &__item
        &--cart,
        &--compare,
        &--wishlist
          &::before
            transform: translate(0, 0) rotate(-60deg)

      &__item
        &--cart
          &:before
            color: red
        &--compare,
        &--wishlist
          &::before
            transform: translate(0, 0) rotate(-60deg)


  &__controls
    margin-bottom: -3em
    padding-bottom: 1em
    display: flex
    flex-wrap: wrap

  &__item
    margin: .2em .2em
    width: 3em
    height: 3em
    border: 1px solid #eee
    background: khaki
    opacity: .7
    cursor: pointer
    transition-duration: .5s

    &:hover
      opacity: 1
      background: darken(khaki, 15%)

    &--cart
      transform: translate(-2em, 0)

    &--wishlist
      transform: translate(0, 2em)

    &--compare
      transform: translate(2em, 0)


  &__icon
    background: url() center center no-repeat
    height: 100%
    transform: rotate(-60deg)
    background-size: 65%

    &--cart
      background-image: url(../img/icons/basket-black.png)

      &:hover
        background-image: url(../img/icons/basket-red.png)

    &--in-cart
      background-image: url(../img/icons/basket-red.png)

      &:hover
        background-image: url(../img/icons/basket-red.png)

    &--compare
      background-image: url(../img/icons/scales-black.png)

      &:hover
        background-image: url(../img/icons/scales-red.png)

    &--in-compare
      background-image: url(../img/icons/scales-red.png)

      &:hover
        background-image: url(../img/icons/scales-red.png)

    &--wishlist
      background-image: url(../img/icons/wishlist-black.png)

      &:hover
        background-image: url(../img/icons/wishlist-red.png)

    &--in-wishlist
      background-image: url(../img/icons/wishlist-red.png)

      &:hover
        background-image: url(../img/icons/wishlist-red-broken.png)


