.services
  padding-top: .2em
  display: inline-block

  &__compare,
  &__wishlist,
  &__cart
    display: inline-block
    width: 3em
    height: 3em
    position: relative
    cursor: pointer
    transition-duration: .3s

    &:hover
      //box-shadow: 0 0  .19em rgba(255,255,255, 1)
      background-color: rgba(255,255,255,.2)

  &__compare
    background: url(../img/icons/scales-grey.png) center center no-repeat
    background-size: 2.2em

    &:hover
      background-image: url(../img/icons/scales-white.png)

  &__wishlist
    background: url(../img/icons/wishlist-grey.png) center center no-repeat
    background-size: 2.2em

    &:hover
      background-image: url(../img/icons/wishlist-white.png)

  &__cart
    background: url(../img/icons/basket-grey.png) center center no-repeat
    background-size: 2.2em

    &:hover
      background-image: url(../img/icons/basket-white.png)

  &__counter
    width: 1.5em
    text-align: center
    height: 1.5em
    position: absolute
    top: .2em
    left: .2em
    font-size: .875em
    background: Salmon
    opacity: .9
    border-radius: 50%
