.sorter
  padding: 1em 0

  &__title
    padding: .1em 1em
    font-weight: 600

  &__control
    border: 1px solid #aaa
    padding: .4em 1.2em

    &:hover
      text-decoration: none
      cursor: pointer
      background: #eee
    
    &--active > span
      margin: 0 0 -.125em .5em
      display: inline-block
      width: 1em
      height: 1em


    &--asc > span
      background: url(../img/icons/arrow-down-black.png) center center no-repeat
      background-size: contain

    &--desc > span
      background: url(../img/icons/arrow-up-black.png) center center no-repeat
      background-size: contain