.stars
  &__star
    background: url($star-grey-png) center center no-repeat
    background-size: contain
    width: 1.5em
    height: 1.5em

    &--red
      background-image: url($star-swa-red-png)


.choose-from-stars
  .stars
    &__star
      background: url($star-grey-png) center center no-repeat
      background-size: contain
      width: 1.8em
      height: 1.8em
      transition-duration: .3s

      &--red
        background-image: url($star-swa-red-png)

