.stars
  &__star
    background: url(../img/icons/star-grey.png) center center no-repeat
    background-size: contain
    width: 1.5em
    height: 1.5em


    &--red
      background-image: url(../img/icons/star-red.png)
