        //- two tabs needed!

        section.my-reviews
            .wrap
                .container-fluid
                    .my-reviews__container

                        .my-review
                            .my-review__container
                                .my-review__product
                                .my-review__text
                                .my-review__foot
                                    .my-review__datetime 11 jul, 2016
                                    .my-review__controls



                        // product_title(link) | edit | delete
