doctype html
html
    head
        meta(charset='utf-8')
        title Default Title

        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        //script(src='bower_components/jquery/dist/jquery.js')
        //
        //link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
        //script(src='bower_components/bootstrap/dist/js/bootstrap.js')
        //
        //link(rel='stylesheet', href='bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.css')
        //script(src='bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.js')
        //
        //link(rel='stylesheet', href='bower_components/slick-carousel/slick/slick.css')
        //script(src='bower_components/slick-carousel/slick/slick.js')
        //
        //link(rel='stylesheet', href='distribution/css/output.css')
        //script(src='distribution/js/output.js')
        //
        //link(href='https://fonts.googleapis.com/css?family=Lato:400,300italic,400italic,700,700italic,900,300', rel='stylesheet', type='text/css')



        script(src='vendor/jquery.min.js')

        link(rel='stylesheet', href='vendor/bootstrap.min.css')
        script(src='vendor/bootstrap.js')

        link(rel='stylesheet', href='vendor/jasny-bootstrap.min.css')
        script(src='vendor/jasny-bootstrap.min.js')

        link(rel='stylesheet', href='vendor/slick.css')
        script(src='vendor/slick.min.js')

        link(rel='stylesheet', href='vendor/output.css')
        script(src='vendor/output.js')

        link(href='https://fonts.googleapis.com/css?family=Lato:400,300italic,400italic,700,700italic,900,300', rel='stylesheet', type='text/css')

    body






