        //- two tabs needed!

        section.partners
            .wrap
                .container-fluid
                    .partners__container
                        h2.partners__heading Partners
                        .partners__content(
                            class='swingaway-content-markup'
                        )
                            p <b class='color-swa-red'>SwingAway Sports</b> Products only aligns ourselves with the very best companies, products and associations that support the game of Baseball and Softball. We only recommend our Partners based on merit and will not support a partner for any other reason. We will only add to our Partners List when we identify a company, organization, service or product that can add immediate value and privileged access for our loyal customers supporting their Sport.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nes sue Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.

                        .grid-group-4
                            ul.grid-group-4__list
                                - for (var i_partnets = 0; i_partnets < 12; i_partnets++)
                                    li.grid-group-4__item
                                        img.grid-group-4__image(
                                            src='http://placehold.it/300x300?text=partner-' + (i_partnets + 1)
                                        )


