        //- two tabs needed!

        section.results-head
            .wrap
                .container-fluid
                    .results-head__container
                        .results-head__summary
                            span.results-head__summary-text Found
                            span.results-head__summary-data 414
                            span.results-head__summary-text results fou your query:
                            span.results-head__summary-data "baseball bat"
                        .results-head__re-search
                            span.results-head__re-search-text
                                | Search again :

                            span.resutls-head__re-search-input
                                 include ./jade/incl/search.jade
