        //- two tabs needed!

        .video-wide
            .wrap
                .container-fluid()
                    .wideo-wide__container
                        iframe(
                            width="100%"
                            height="420"
                            src="https://www.youtube.com/embed/6Joup252fR0"
                            frameborder="0"
                            allowfullscreen
                        )