.home-icon-grid
  padding: 1.5em 0 1em

  &__heading
    padding-bottom: .7em
    text-align: center
    text-transform: uppercase

  &__list
    padding: 0
    display: flex
    flex-wrap: wrap
    justify-content: center

  &__item
    display: inline-block
    list-style: none

  &__container
    padding: .2em



@media all and (max-width: 420px)
  .home-icon-grid
    display: none