.wishlist-item
  padding: .6em 0
  border-bottom: 1px solid #ddd

  &:first-child
    border-top: 1px solid #ddd

  &:hover
    background: #eee

  &__container
    display: flex
    justify-content: space-between
    align-items: center

  &__remove
    padding: .5em

  &__image-wrap
    max-width: 8em
    padding: 0 .5em

  &__image
    max-width: 100%

  &__title
    padding: .5em

  &__price
    padding: .5em
    font-size: 1.05em
    font-weight: 600

  &__controls
    padding: .5em .5em .5em 1em



@media all and (max-width: 920px)
  .wishlist-item
    &__butt
      width: 100%


@media all and (max-width: 660px)
  .wishlist-item
    &__container
      flex-wrap: wrap

    &__remove
      flex-basis: 100%

    &__image-wrap
      display: none

    &__title
      flex-basis: 100%

    &__price
      flex-basis: 30%

    &__controls
      flex-basis: 70%
      text-align: right

    &__butt
      width: auto
