//- inc: my reviews

.order-history
    .order-history__container

        .order-history-filter
            .order-history-filter__container

        .order-hishory-item
            .order-history-item__container
                .order-history-item__no
                .order-history-item__datetime
                .order-history-item__items
                .order-history-item__status
                .order-history-item__total
                .order-history-item__tracking-no
                .order-history-item__reorder
                .order-history-item__more

                .order-in-history
                    .order-in-history__container
                        table.order-in-history__table

                            thead.order-in-history__head
                                tr.order-in-history__row
                                    th.order-in-history__cell.order-in-history__cell--head Image
                                    th.order-in-history__cell.order-in-history__cell--head Title
                                    th.order-in-history__cell.order-in-history__cell--head Price
                                    th.order-in-history__cell.order-in-history__cell--head Quantity
                                    th.order-in-history__cell.order-in-history__cell--head Sum

                            tbody.order-in-history__body
                                - for (var i_oih = 0; i_oih < products.length; i_oih++)
                                    tr.order-in-history__row
                                        td.order-in-history__cell.order-in-history__cell--wrap-image
                                            img.order-in-history__image(
                                                src=products[i_oih].photos[0]
                                            )
                                        td.order-in-history__cell.order-in-history__cell--wrap-title(
                                        )=products[i_oih].title
                                        td.order-in-history__cell.order-in-history__cell--wrap-price(
                                        )=products[i_oih].price
                                        td.order-in-history__cell.order-in-history__cell--wrap-qu(
                                        )=i_oih
                                        td.order-in-history__cell.order-in-history__cell--wrap-sum(
                                        )=i_oih * products[i_oih].price

                            tfoot.order-in-history__foot
                                tr.order-in-history__row
                                    td.order-in-history__cell.order-in-history__cell--foot.order-in-history__cell--foot-label Subtotal
                                    td.order-in-history__cell.order-in-history__cell--foot.order-in-history__cell--foot-data
                                        span.order-in-history__span.order-in-history__span--currency=currencySymbol
                                        span.order-in-history__span.order-in-history__span--amount 9500

                                tr.order-in-history__row
                                    td.order-in-history__cell.order-in-history__cell--foot.order-in-history__cell--foot-label Delivery
                                    td.order-in-history__cell.order-in-history__cell--foot.order-in-history__cell--foot-data
                                        span.order-in-history__span.order-in-history__span--currency=currencySymbol
                                        span.order-in-history__span.order-in-history__span--amount 800

                                tr.order-in-history__row
                                    td.order-in-history__cell.order-in-history__cell--foot.order-in-history__cell--foot-label Total
                                    td.order-in-history__cell.order-in-history__cell--foot.order-in-history__cell--foot-data
                                        span.order-in-history__span.order-in-history__span--currency=currencySymbol
                                        span.order-in-history__span.order-in-history__span--amount 10300

