//- inc: profile

.my-profile
    .my-profile__container
        button(
            class='btn btn-default butt-change-email'
        ) Change email
        button(
            class='btn btn-default butt-change-password'
        ) Change password
