//- inc: product Q&A

- for (var i_qna = 0; i_qna < 4; i_qna++)

    .product-qna()
        .product-qna__container()
            .product-qna__headline(
                class='row'
            )
                .product-qna__question(
                    class='col-md-5'
                ) Question #857

                .product-qna__panel(
                    class='col-md-7 children-inline test-right'
                )
                    .product-qna__author() Jack

                    .product-qna__published() 17 Jan, 2016

                    .product-qna__likes
                        //include ./element.likes.jade



            .product-qna__message
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nes sue Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
