//- inc: product characteristics

table(
    class='table table-striped table-hover'
)
    tr
        td Price
        td $199.99
    tr
        td Quantity
        td 2
    tr
        td Avaliability
        td in stock
    tr
        td SKU
        td SA100SBG
