//- inc: product description

h4
p The ultimate power hitting station & pro-class pitchback - for home training
p The Jennie Finch Gold Medal Edition SwingAway Hitting Trainer is specifically designed for Home Training of all players regardless of their age or skill level plus for Team Use from Tee Ball thru Little League. The MVP allows varsity and youth players to Train Year- Round on the Most Effective and Popular Professional Training Station ever made.The SWINGAWAY once was limited to only Pro Players and Teams, Now the MVP is perfect hitting training aid for ALL Players! The MVP is the Most Affordable SWINGAWAY Model, But Don’t let the Price Fool You! This machine ROCKS!! The MVP Converts very easily to a World Class Pitch-Back and Folds Base to Frame in seconds for maximum storability.
ul
    li TRAINING WITH THE SWINGAWAY WILL MAKE YOU A BETTER HITTER!!... PERIOD
    li INCREASE YOUR BATTING AVERAGE, BAT SPEED WITH POWER AND CONFIDENCE
    li IT’S NEVER TOO EARLY TO DEVELOP THE PERFECT SWING
i Professional, High School, College Programs and the Serious Player should consider ordering a SwingAway PRO- Models.
b "SwingAway®" IS A COPYRIGHT PROTECTED TRADEMARK. ALL "SwingAway®"HITTING SYSTEMS PRODUCT LINE IS PROTECTED UNDER US PATENTS 5,795,250 AND 7,914,400.
p
    a(
        href='#'
    ) Click here to download the product manual.

h4 Features & Benefits
ol
    li Immediately becomes a Hitting Station for Practice and Pre- Game Batting Practice
    li Provides the feel of hitting live pitches without chasing or picking up balls
    li Ensures a Perfect Swing with each repetition, instant feedback visually and by feel
    li Ball can be positioned anywhere in the strike zone, high, low, inside or outside
    li Includes the SA Patented Hitting Training Mat which teaches proper contact points to hit inside, outside, down the middle pitch locations
    li Promotes a Quick and Powerful hands inside and to the ball, eliminating a long casting swing and other swing flaws
    li Three-second ball return, up to 10-15 quality swings per minute - 100-150 cuts in Only 10-15 minutes
    li Develops Proper Swing Mechanics, Muscle Memory, Bat Speed, Power and Confidence
    li Train Year-Round, set up indoors or outdoors. Unit folds flat in seconds for maximum portability and storage
    li Converts easily to a World Class Pitch -Back for defensive and throwing drills

h4 PRODUCT SPECIFICATIONS
p Made of High Quality 18 gage Powder-Coated Steel. The Set-up size of the Frame is 62" x 50" with highest point of 6'2". Recommended Space is 10' x 10' area. The total Weight is only 36 lbs.
p The SwingAway MVP Home Training System is designed specifically for Home Training for players of all ages & skill levels plus for team use from Tee Ball thru Little League. Professional, High School, College Programs plus the older Serious Players should consider The SwingAway PRO-Series.