include ../tpl/head.jade
include ../tpl/header.jade
include ../tpl/breadcrumbs.jade
include ../tpl/wide-banner.jade
include ../tpl/catalog-description.jade
include ../tpl/catalog-heading.jade
include ../tpl/sorter.jade
include ../tpl/product-grid.jade
include ../tpl/footer.jade
