include ../tpl/head.jade
include ../tpl/header.jade
include ../tpl/carousel.jade
include ../tpl/banner-grid.jade
include ../tpl/video-wide.jade
include ../tpl/icon-grid.jade
include ../tpl/icon-list.jade
include ../tpl/footer.jade
