section.order-success
    .wrap
        .container-fluid
            h2.order-success__heading Cart 4. Order Success
            .order-success__container
                .order-success__content(
                    class='swingaway-content-markup'
                )
                    p Congratulations! You sussesfully completed the order. You order ID id 40008324211.
                    p If you would like to make a new order, please navigate to our
                        a(
                            href='#',
                            class='explicit-link'
                        ) catalog