section.dealers
    .wrap
        .container-fluid
            h2.dealers__heading Dealers

            .dealers__container
                h4 An Untapped Market Awaits
                p Big league clubs, hundreds of big leaguers and US Olympic softball own and use the SwingAway, but it's made for kids - an untapped market waits!
                h4 SwingAway Distributorship
                p We are seeking distributors of SwingAway Hitting Machines nationwide. If you are interested in owning your own business, making your living in baseball/softball and have a background in sales, then take action and give us a call!
                h4 Distributorships Are Limited
                p Only one distributor will be placed in each area. To find out if your area is still available and obtain detailed information, contact the SwingAway Distributor Team at 800.999.1968


                h3 Distributors

                .distributors

                    .distributor
                        .distributor__container
                            .distributor__location Arizona
                            .distributor__details
                                .distributor__shop Tempe
                                ul.distributor__list
                                    li.distributor__item.distributor__item--works Sports Specialist
                                    li.distributor__item.distributor__item--name Darin Gofas
                                    li.distributor__item.distributor__item--phone 602-574-6512
                                    li.distributor__item.distributor__item--email chasesports@cox.net


                    .distributor
                        .distributor__container
                            .distributor__location California
                            .distributor__details
                                .distributor__shop Folsom
                                ul.distributor__list
                                    li.distributor__item.distributor__item--works All American Sports
                                    li.distributor__item.distributor__item--name Hector Rodriguez
                                    li.distributor__item.distributor__item--phone 916-206-1192
                                    li.distributor__item.distributor__item--email harodriguez@comcast.net
                            .distributor__details
                                .distributor__shop Tustin
                                ul.distributor__list
                                    li.distributor__item.distributor__item--works First String Team Sales
                                    li.distributor__item.distributor__item--name Jeff Chun
                                    li.distributor__item.distributor__item--phone 714-905-6587
                                    li.distributor__item.distributor__item--email jchun1988@yahoo.com

                    .distributor
                        .distributor__container
                            .distributor__location Colorado
                            .distributor__details
                                .distributor__shop Aurora
                                ul.distributor__list
                                    li.distributor__item.distributor__item--works Mike Epstein Hitting
                                    li.distributor__item.distributor__item--name Darin Gofas
                                    li.distributor__item.distributor__item--phone 303-694-7700
                                    li.distributor__item.distributor__item--email sales@mikeepsteinhitting.com


                    .distributor
                        .distributor__container
                            .distributor__location Georgia
                            .distributor__details
                                .distributor__shop Acworth
                                ul.distributor__list
                                    li.distributor__item.distributor__item--name Scott Ryder
                                    li.distributor__item.distributor__item--phone 770-710-5535
                                    li.distributor__item.distributor__item--email sryd617@yahoo.com
                            .distributor__details
                                .distributor__shop Marietta
                                ul.distributor__list
                                    li.distributor__item.distributor__item--works SwingAway Sports Products
                                    li.distributor__item.distributor__item--name John Flading
                                    li.distributor__item.distributor__item--phone 404-825-7063
                                    li.distributor__item.distributor__item--email jflading@swingaway.com
                            .distributor__details
                                .distributor__shop Martinez
                                ul.distributor__list
                                    li.distributor__item.distributor__item--name Scott Stewart
                                    li.distributor__item.distributor__item--phone 706-825-0007
                                    li.distributor__item.distributor__item--email scott.stewart@markcpope.com

                    .distributor
                        .distributor__container
                            .distributor__location Iowa
                            .distributor__details
                                .distributor__shop Muscatine
                                ul.distributor__list
                                    li.distributor__item.distributor__item--works Trademark Hitter
                                    li.distributor__item.distributor__item--name Joe Bottoms
                                    li.distributor__item.distributor__item--phone 563-244-2428
                                    li.distributor__item.distributor__item--email William.Bottoms@lyondellbasell.com

                    .distributor
                        .distributor__container
                            .distributor__location Illinois
                            .distributor__details
                                .distributor__shop Plainfield
                                ul.distributor__list
                                    li.distributor__item.distributor__item--name James Cameron
                                    li.distributor__item.distributor__item--phone 630-222-3128
                                    li.distributor__item.distributor__item--email eandjcameron@comcast.net

                    .distributor
                        .distributor__container
                            .distributor__location Louisiana
                            .distributor__details
                                ul.distributor__list
                                    li.distributor__item.distributor__item--name Matthew Gambill
                                    li.distributor__item.distributor__item--phone 504-481-9880
                                    li.distributor__item.distributor__item--email turn2baseballtraining@gmail.com

                    .distributor
                        .distributor__container
                            .distributor__location Mississippi
                            .distributor__details
                                .distributor__shop Philadelphia
                                ul.distributor__list
                                    li.distributor__item.distributor__item--works IN Sports Inc.
                                    li.distributor__item.distributor__item--name Joey Irby
                                    li.distributor__item.distributor__item--phone 601-656-6184
                                    li.distributor__item.distributor__item--email insportsinc@yahoo.com

                    .distributor
                        .distributor__container
                            .distributor__location Nebraska
                            .distributor__details
                                .distributor__shop Omaha
                                ul.distributor__list
                                    li.distributor__item.distributor__item--works Midwest Hitting Academy
                                    li.distributor__item.distributor__item--name Brian Southworth
                                    li.distributor__item.distributor__item--phone 402-707-3818
                                    li.distributor__item.distributor__item--email brian@swingmw.com

                    .distributor
                        .distributor__container
                            .distributor__location North Carolina
                            .distributor__details
                                .distributor__shop Greenville
                                ul.distributor__list
                                    li.distributor__item.distributor__item--works Stadium Sports
                                    li.distributor__item.distributor__item--name Eric Jarmon
                                    li.distributor__item.distributor__item--phone 601-656-6184
                                    li.distributor__item.distributor__item--email EJ@shopstadium.com

                    .distributor
                        .distributor__container
                            .distributor__location Pennsylvania
                            .distributor__details
                                .distributor__shop McMurray
                                ul.distributor__list
                                    li.distributor__item.distributor__item--name Vince Fazio
                                    li.distributor__item.distributor__item--phone 724-986-6047
                                    li.distributor__item.distributor__item--email EJ@shopstadium.com

                    .distributor
                        .distributor__container
                            .distributor__location Texas
                            .distributor__details
                                .distributor__shop Victoria
                                ul.distributor__list
                                    li.distributor__item.distributor__item--works Team Sports of Texas
                                    li.distributor__item.distributor__item--name Mark Goodman
                                    li.distributor__item.distributor__item--phone 361-576-9179
                                    li.distributor__item.distributor__item--email mark@teamsportsoftexas.com

                    .distributor
                        .distributor__container
                            .distributor__location Washington
                            .distributor__details
                                .distributor__shop Spokane
                                ul.distributor__list
                                    li.distributor__item.distributor__item--works Kimmel Athletic Supply
                                    li.distributor__item.distributor__item--phone 509-326-7710

                    .distributor
                        .distributor__container
                            .distributor__location Puerto Rico
                            .distributor__details
                                .distributor__shop Trujillo Alto
                                ul.distributor__list
                                    li.distributor__item.distributor__item--name Luis Castro
                                    li.distributor__item.distributor__item--phone 787-536-6679
                                    li.distributor__item.distributor__item--email castroknights@gmail.com

                    .distributor
                        .distributor__container
                            .distributor__location Virginia
                            .distributor__details
                                .distributor__shop Richmond
                                ul.distributor__list
                                    li.distributor__item.distributor__item--works Hitting Store
                                    li.distributor__item.distributor__item--name Paul Rice
                                    li.distributor__item.distributor__item--phone 855-448-7867
                                    li.distributor__item.distributor__item--email sales@hittingstore.com




