.home-icon-grid
    .wrap
        .container-fluid()
            h2.home-icon-grid__heading Top College programs
            ul.home-icon-grid__list
                - for (var l = 0; l < 33; l++)
                    li.home-icon-grid__item()
                        .home-icon-grid__container
                            img(
                                src='http://placehold.it/100x100?text=icon' + l
                            )