doctype html
html
    head
        meta(charset='utf-8')
        title Default Title

        link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
        script(src='bower_components/bootstrap/dist/js/bootstrap.js')

        link(rel='stylesheet', href='bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.css')
        script(src='bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.js')

        script(src='bower_components/jquery/dist/jquery.js')

        link(rel='stylesheet', href='dist/output.css')
        script(src='output.js')

    body






